/*start variables*/
:root{
    --main-color:#1f2639 ;
    --main-color-alt:#ece7e7;
    --secondary-color:#38394a;
    --secondary-color-alt:#0edee2;
    --third-color:#363636;
}
/*end variables*/
/*small screens or lower*/
@media (max-width:768px){
    .home .container .image img{
        display: none;
    }
    
}
/*medium screens or lower*/
@media (max-width:992px){
    /*start header*/
        .header{
            height: 100px;
        }
        .header .container .menu i:first-of-type{
            display: block;
        }
        .header .container .menu ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 80px;
            left: 0;
            background-color: var(--secondary-color);
            width:100dvw;
            transition: 0.4s;
            display: none;
        }
    /*end header*/
    /*start about*/
    .about .container p{
        padding: 15px  ;
        width: 90%;
    }
    /*end about*/
}
/*large screens or lower*/
@media (max-width:1200px ){
    
}
/*large screens*/
@media (min-width:992px) and (max-width:1200px ){
    /*start services*/
    .services .container .elements .more{
        max-width: 500px;
    }
    /*end services*/
    /*start protfolio*/
    .protfolio .container .elements{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 50px;
    }
/*end protfolio*/
}
/*medium screen*/
@media (max-width:992px){
    /*start services*/
    .services .container .elements {
        width: 100%;
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        grid-gap: 50px;
        margin-bottom: 100px;
    }
    .services .container .elements .element {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 350px;
        max-width: 400px;
        background-color: var(--secondary-color);
        text-align: center;
        padding: 20px;
        border-radius: 35px;
        position: relative;
        transition: 0.4s;
    }
    .services .container .elements .element:hover{
        border: var(--secondary-color-alt) solid 1px;
    }
    .services .container .elements .element i {
        color: var(--secondary-color-alt);
        font-size: 2rem;
    }
    .services .container .elements .element h2 {
        color: var(--secondary-color-alt);
    }
    .services .container .elements .element p {
        color: var(--main-color-alt);
        font-size: 1.1em;
        line-height: 25px;
    }
    .services .container .elements .element .button {
        width: 120px;
        height: 50px;
        background-color: var(--secondary-color-alt);
        color: var(--main-color);
        border-radius: 20px;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
    }
    .services .container .elements .element .button:hover {
        cursor: pointer;
        color: var(--main-color-alt);
    }
    .services .container .elements .element .button p{
        color: var(--main-color);
    }
    .services .container .elements .more{
        max-width: 700px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        display: none;
    }
    .services .container .elements .more i{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 1.8rem;
        color: var(--main-color-alt);
        transition: 0.4s;
    }
    .services .container .elements .more i:hover{
        cursor: pointer;
        color: var(--secondary-color-alt);
    }
    .services .container .elements .more p{
        color: var(--main-color-alt);
        font-size: 1.1em;
        line-height: 25px;
    }
    /*end services*/
}
@media(max-width:660px){
    /*start contact*/
    .contact .container form{
        grid-template-columns: 300px ;
    }
    .contact .container form input{
        width: 290px;
    }
    .contact .container form textarea{
        width: 290px;
    }
    .contact .container form button{
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        
    }
/*end contact*/
}